body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}
/*ここからheader*/
header {
  height: 65px;
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: rgba(34,49,52,0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

/*ここはmain*/
.main {
  background-color: azure;
  height: 600px;
}

/*ここからfooter*/
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: right;
}

.footer-list li{
padding-bottom: 20px;
}